<p>
  list-employee works!
</p>
<button class="btn btn-primary"(click)="createEmployee();">AddEmployee</button>
 <table border="1" >
  <thead>
    <tr>
      <th>EmpId</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>EmailAddress</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Action</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">

      
      <td>{{emp.empId}}</td>
      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.age}}</td>
      <td>{{emp.salary}}</td>
      <td>
        <button class= "btn btn-danger" (click)="deleteUser(user);">Delete</button>

        <button class="btn btn-warning" (click)="editUser(user);">Edit</button>
      </td>
     </tr>
  </tbody>
</table> 

